// color

$tb-bar: #333333;

$wc-bar: #1e1d1c;
$wc-mm_h: #333333;
$wc-c_h: rgb(173, 14, 14);

$ws-ab: #242424;
$ws-sb: #302f2f;
$ws-re: pink;
$ws-re_h: red;
$ws-ce: black;
$ws-p: rgb(161, 159, 159);

$statusBar_col: pink;
