@import "../Abstract/Variables.scss";

.workspace {
  display: flex;
  height: calc(100vh - 50px);

  &_activityBar {
    flex-basis: 50px;
    flex-shrink: 0;
    background-color: $ws-ab;
  }

  &_sideBar {
    flex-basis: 200px;
    background-color: $ws-sb;

    &_resizable {
      background-color: $ws-re;
      height: 100%;
      width: 4px;
      display: block;
      float: right;
      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: $ws-re_h;
        cursor: e-resize;
      }
    }
  }

  &_codeEditor {
    background-color: $ws-ce;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &_tabs {
      background-color: #252526;
      flex-basis: 30px;
    }

    &_code {
      background-color: #1e1e1e;
      flex-grow: 1;
    }
  }

  &_preview {
    background-color: $ws-p;
    flex-grow: 1;

    &_resizable {
      background-color: $ws-re;
      height: 100%;
      width: 4px;
      display: block;
      float: left;
      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: $ws-re_h;
        cursor: e-resize;
      }
    }
  }
}
